@use "./variables" as var;
@use "./mixins" as mix;

/* Reset CSS Values*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------- General Styles ------- */

// 1rem = 10px
:root {
    font-size: 62.5%;
}

body {
    width: 100vw;
    font-size: 1.6rem !important;
    font-family: var.$font-secondary;
    background-color: var.$color-two;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

h1, h2,
h3, h4,
h5, h6,
nav {
    font-family: var.$font-primary;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

/*********** MOBILE FIRST! ***********/



/* ------- Header Styles ------- */

header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), center / cover no-repeat  url(../images/hero.jpg);

    position: relative;

    #navbar {
        width: 100%;
        height: 80px;
        margin: auto;
        padding: 1rem 3rem;
        background-color: var.$color-one;
        
        .logo {
            width: 30%;
            padding: 1rem;
            padding-left: 0;
            // padding-left: 1.5rem;

            img {
                width: 250px;
            }
        }

        .small-devices {
            height: 100%;

            @include mix.flex-row-between-center;

            .menu {
                align-items: center;

                /*---- Toggle Button -----*/

                #menu-input {
                    display: none;

                    &:checked ~ .side-navbar {
                        left: 0vw;
                    }

                    &:checked ~ .burger-menu .bars {
                        color: transparent;
                    }

                    &:checked ~ .burger-menu .times {
                        color: var.$color-two;
                    }
                }

                .burger-menu {
                    margin: auto;
                    position: relative;
                    right: 3rem;
                    align-items: center;

                    .bars,
                    .times {
                        cursor: pointer;
                        position: absolute;
                        transition: all .2s;
                        transition-delay: .1s;
                        color: var.$color-two;
                    }

                    .times {
                        color: transparent;
                    }
                }
                
                .side-navbar {
                    width: 100vw;
                    height: fit-content;
                    padding: 1rem;
                    padding-right: 1.5rem;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    background-color: var.$color-one;
                    font-size: 2rem !important;
                    list-style: none;
                    border-top: 2px solid var.$color-two;
                    
                    position: absolute;
                    top: 78px;
                    left: -100vw;
                    z-index: 3;

                    transition: all .3s ease-in-out;
                    transition-delay: .1s;

                    .nav-item {
                        width: 100%;
                        flex-grow: 1;
                        @include mix.flex-row;
                        transition: all .3s;

                        &:hover {
                            background-color: lighten(var.$color-one, 8%);
                        }
                    }                    
                }
            }
        }
        
        .large-devices {
            display: none;
        }

        .nav-link {
            color: var.$color-two !important;
            padding: 1rem;
            
            &:visited {
                color: var.$color-two !important;
            }
        }
    }

    .hero {

        .hero-text {
            width: fit-content;
            padding-top: 7.5rem;
            padding-left: 2.5rem;
            color: var.$color-two;
            font-family: var.$font-primary;
            letter-spacing: 1px;

            text-shadow: 0 0 2px black,
            0 0 5px var.$color-two,
            0 0 8px black;

            a {
                padding: 1rem;
                color: var.$color-two;
                background-color: var.$color-one;

                font-family: var.$font-secondary;
                font-size: 1.6rem;
                font-weight: bolder;
                letter-spacing: 1px;
                text-transform: uppercase;

                float: right;

                @include mix.flex-row;

                &:hover {
                    background-color: lighten(var.$color-one, 8%);
                }

                &:focus {
                    border: none !important;
                    outline: none !important;
                }
            }
        }
    }
}



/* ------- Main Styles ------- */


    /***** About Styles ******/



    /***** Event/Workshop Styles ******/

.workshop {
    .headline {
    position: relative;
    font-size: 2.5rem;
    color: black;
    font-family: var.$font-primary;
    padding: 1em;
   
    }

    .card {
        border-radius: 8px;
        margin: 1em auto;
        font-size: 1.3rem;
        .card-header {
            background-color: var.$color-one;
            color: var.$color-two;
            border-radius: 3px 3px 0 0;
        }

        img {
            height: auto;
            max-width: 100%;
        }
        
        h5 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }

        .card-body { 
       
        a {
            background-color: var.$color-one;
            color: var.$color-two;
        
            &:hover, &:active, &:focus {
            background-color: lighten(var.$color-one,8%);
            box-shadow: none;
            outline: 0;
        
        }
        }

    }  
        .alert button {
            font-size: 3rem;
            background-color: var.$color-one;
            &:hover, &:active, &:focus {
                box-shadow: none;
                outline: 0;
                background-color: lighten(var.$color-one,8%);
                color: var.$color-two;
                
            }
        }
    }

        .alert {
            width: 100%;
            min-height: 25vh;
            border-radius: 3px;
            padding: 1em;
            z-index: 10;
            background-color: var.$color-two;
            border: 1px solid gray;
        h2 {
            font-size: 2.2rem;
            padding: .3em .7em;
        }
        p {
            font-size: 1.5rem;
            color: black;
            padding: 0 1em;
        }
        a {
            background-color: lighten(var.$color-one,8%);
            color: var.$color-two;
            padding: .7em;
            margin: 1em;

        }  
    }
}



    /***** Contact Styles ******/

.contact-about {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.cont-sect {
  h3 {
    margin: 2rem 0 1rem;
  }
  table {
    width: 100%;
    margin: auto;
    tr, td, th {
      border: 1px solid var.$color-one;
      padding : 1rem;
    }
  }
  iframe {
    width: 100%;
    margin: 3rem 0;
  }
}

.book-sect {
  input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    &[type="submit"] {
      width: 50%;
      background-color: var.$color-one;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      }
    }
    input[type="submit"]{
      font-family: var.$font-primary;
      letter-spacing: 2px;
      font-size: 2rem;
    }
  }



/* ------ Media Queries ------ */

// Tablets devices
@media (min-width:768px) {

    // HEADER STYLES
    header {
        width: 100vw;
        height: 100vh;

        .nav-item {

            .nav-link {
                padding: 0.5rem;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        .hero {

            .hero-text {
                width: fit-content;
                padding-top: 10rem;
                padding-left: 5rem;

                button {
                    padding: 1.2rem;
                }
            }
        }

        
    } 
    
    .contact-about {
        width: 70%;
        margin: auto;
    }

}

// Desktop
@media (min-width: 1024px) {
  
    // HEADER STYLES
    header {
        width: 100vw;
        height: 100vh;

        #navbar {

            // margin: auto 0;

            .small-devices {
                display: none !important;
            }
        
            .large-devices {
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                padding-right: 1rem;
                margin: auto;
                
                .desktop-navbar {
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                    list-style: none;

                    .nav-item {
                        margin-left: 2.5rem;
                        font-size: 2.5rem;

                        &:hover {
                            background-color: var.$color-one;
                        }
                    }
                }
            }
        }

        .hero {

            .hero-text {
                width: fit-content;
                padding-top: 15rem;
                padding-left: 10rem;

                button {
                    padding: 1.4rem;
                }
            }
        }
    }
  
    // ABOUT STYLES
    .about {
        width: 100vw;
        height:30vh;
        display: block;
        position: relative;
    }

    .about::after {
        content: "";
        background: url("src/images/matcha.jpg");
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
  
  
    // EVENTS-WORKSHOP STYLES
    .workshop {
        position: relative;
        margin: 2em auto;
    

        h2 {
        color: var.$color-one;
        font-family: var.$font-primary;
        padding: 0 1em;
        }

        .card {
            min-height: 100%;
            border-radius: 8px;

            .card-header {
                background-color: var.$color-one;
                color: var.$color-two;
            }

            img {
                max-width: 100%;
                height: auto;
            }
               
            .card-body { 
                padding-top: 1.5em;

                a {
                    background-color: var.$color-one;
                    color: var.$color-two;
                    font-size: 1.5rem;
                    &:hover, &:active, &:focus {
                    box-shadow: none;
                    outline: 0;
                    background-color: lighten(var.$color-one,8%);
                    }
                }

            }

            .alert button {
                background-color: var.$color-one;
                &:hover, &:active, &:focus {
                    box-shadow: none;
                    outline: 0;
                    color: var.$color-two;
                    background-color: lighten(var.$color-one,8%);
                }
            }
        }

        .alert {
            width: 60%;
            min-height: 25vh;
            border-radius: 4px;
            position: absolute;
            top: 30%;
            left: 20%;
            padding: 3em;
            
            h2 {
                padding: .3em .7em;
            }

            p {
                font-size: 1.5rem;
                color: black;
                padding: 0 1em;
            }

            a {
                background-color: var.$color-one;
                color: var.$color-two;
                padding: .4em;
                margin: 1em;
                font-size: 1.8rem;
                &:hover {
                    background-color: lighten(var.$color-one,8%);
                }
            }
        }
    }


    // CONTACT STYLES
    .contact-about {
        width: 100%;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        section {
            margin: 3rem;
        }
    }
}

// MONITOR 
@media (min-width: 1200px) {

    // HEADER STYLES
    header {
        width: 100vw;
        height: 100vh;

        .hero-text {
            padding-top: 20rem;
            padding-left: 20rem;

            .display-2 {
                font-size: 6.5rem !important;
            }

            .display-5 {
                font-size: 4.5rem !important;
            }

            button {
                padding: 1.5rem;
            }
        }
    }
}