@use "./variables" as var;
@use "./mixins" as mix;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1rem = 10px */
:root {
    font-size: 62.5%;
}

/*********** MOBILE FIRST! ***********/


/* ------ Header Styles ------ */



/* ------ About Styles ------ */



/* ------ Header Styles ------ */



/* ------ Header Styles ------ */



/* ------ Contact Styles ------ */



/* ------ Footer Styles ------ */



/* ------ Media Queries ------ */

// Tablets devices
@media (min-width:768px) {

}


// Desktop
@media (min-width: 1024px) {
 

    h2 {
        color: var.$color-one;
        padding: 1em 0;
      }
 
    
    .card {
        img {
            height: 200px
            }
                   
        .card-body { 
            a {
                background-color: var.$color-one;
                color: var.$color-two;
                
                &:focus, &:active, &:hover {
                    box-shadow: none;
                    outline: 0;
                }
                }

            }  
            }
}




