@use "./variables" as var;
@use "./mixins" as mix;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1rem = 10px */
:root {
    font-size: 62.5%;
}

/*********** MOBILE FIRST! ***********/


/* ------- Header Styles ------- */


/* ------- Main Styles ------- */



    /***** About Styles ******/



    /***** Event Styles ******/



    /***** Contact Styles ******/



/* ------ Footer Styles ------ */



/* ------ Media Queries ------ */

// Tablets devices
@media (min-width:768px) {

}


// Desktop
@media (min-width: 1024px) {
    .about {
        width: 100vw;
        height:30vh;
        display: block;
        position: relative;
    }

    .about::after {
        content: "";
        background: url("src/images/matcha.jpg");
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }
}