@use "./variables" as var;
@use "./mixins" as mix;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1rem = 10px */
:root {
    font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var.$font-secondary;
  background-color: var.$color-two;
}

h1, h2, h3, h4, h5 {
  font-family: var.$font-primary;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

/*********** MOBILE FIRST! ***********/

/* ------ Contact Styles ------ */

.contact-about {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.cont-sect {
  h3 {
    margin: 2rem 0 1rem;
  }
  table {
    width: 100%;
    margin: auto;
    tr, td, th {
      border: 1px solid var.$color-one;
      padding : 1rem;
    }
  }
  iframe {
    width: 100%;
    margin: 3rem 0;
  }
}

.book-sect {
  input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    &[type="submit"] {
      width: 50%;
      background-color: var.$color-one;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      }
    }
    input[type="submit"]{
      font-family: var.$font-primary;
      letter-spacing: 2px;
      font-size: 2rem;
    }
  }



/* ------ Media Queries ------ */

// Tablets devices
@media (min-width:768px) {
  .contact-about {
    width: 70%;
    margin: auto;
  }
}


// Desktop
@media (min-width: 1024px) {
  .contact-about {
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    section {
      margin: 3rem;
    }
  }
}