@use "./variables" as var;
@use "./mixins" as mix;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1rem = 10px */
:root {
    font-size: 62.5%;
}

body {
    font-family: var.$font-secondary;
}



  
/*********** MOBILE FIRST! ***********/


/* ------ Header Styles ------ */



/* ------ About Styles ------ */



/* ------ Event/Workshop Styles ------ */
.workshop {
    
    position: relative;
    h2 {
    font-size: 2.5rem;
    color: var.$color-one;
    font-family: var.$font-primary;
    padding: 0 1em;

    }

    .card {
        border-radius: 8px;
        margin: 1em auto;
        font-size: 1.3rem;
        .card-header {
            background-color: var.$color-one;
            color: var.$color-two;
            border-radius: 8px 8px 0 0;
        }

        img {
            height: 200px
        }
        
        h5 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }

        .card-body { 
       
        a {
            background-color: var.$color-one;
            color: var.$color-two;
        
            &:hover, &:active, &:focus {
            box-shadow: none;
            outline: 0;
        }
        }

    }  
        .alert button {
            &:hover, &:active, &:focus {
                box-shadow: none;
                outline: 0;
                background-color: var.$color-one;
                color: var.$color-two;
            }
        }
    }

        .alert {
            width: 100%;
            min-height: 25vh;
            border-radius: 8px;
            padding: 1em;
            z-index: 10;
        h2 {
            font-size: 2.2rem;
            padding: .3em .7em;
        }
        p {
            font-size: 1.5rem;
            color: black;
            padding: 0 1em;
        }
        a {
            background-color: var.$color-one;
            color: var.$color-two;
            padding: .7em;
            margin: 1em;

        }  
    }
}

/* ------ Header Styles ------ */



/* ------ Contact Styles ------ */



/* ------ Footer Styles ------ */



/* ------ Media Queries ------ */

// Tablets devices
@media (min-width:768px) {

}


// Desktop
@media (min-width: 1024px) {

    .workshop {
        position: relative;
        h2 {
        color: var.$color-one;
        font-family: var.$font-primary;
        padding: 0 1em;
        }

        .card {
            height: 400px;
            border-radius: 8px;
            .card-header {
                background-color: var.$color-one;
                color: var.$color-two;
            }

            img {
                height: 200px
            }
               
        .card-body { 
            padding-top: 1.5em;
            a {
                background-color: var.$color-one;
                color: var.$color-two;
            
                &:hover, &:active, &:focus {
                box-shadow: none;
                outline: 0;
            }
            }

        }  
            .alert button {
                &:hover, &:active, &:focus {
                    box-shadow: none;
                    outline: 0;
                    background-color: var.$color-one;
                    color: var.$color-two;
                }
            }
        }

        .alert {
            width: 60%;
            min-height: 25vh;
            border-radius: 8px;
            position: absolute;
            top: 30%;
            left:18%;
            padding: 1.5em;
            
            h2 {
                font-size: 3rem;
                padding: .3em .7em;
            }
            p {
                font-size: 1.5rem;
                color: black;
                padding: 0 1em;
            }
            a {
                background-color: var.$color-one;
                color: var.$color-two;
                padding: .7em;
                margin: 1em;
    
            }
        }
    }
}