@use "./variables" as var;
@use "./mixins" as mix;

/* Reset CSS Values*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------- General Styles ------- */

// 1rem = 10px
:root {
    font-size: 62.5%;
}

body {
    width: 100vw;
    font-size: 1.6rem;
    font-family: var.$font-secondary;
}

h1, h2,
h3, h4,
h5, h6,
nav {
    font-family: var.$font-primary;
}



/*********** MOBILE FIRST! ***********/



/* ------- Header Styles ------- */

header {
    width: 100vw;
    height: 100vh;
    position: relative;

    #navbar {
        width: 100vw;
        height: 80px;
        padding: 1rem 1.5rem;
        background-color: var.$color-one;
        
        position: fixed;
        top: 0;

        .logo > img {
            width: 200px;
            
        }

        .small-devices {
            height: 100%;
            justify-content: space-between;
            align-items: center;

            .menu {
                align-items: center;
            
                /*---- Toggle Button -----*/

                #menu-input {
                    // display: none;

                    &:checked ~ .side-navbar {
                        left: 0vw;
                    }

                    &:checked ~ .menu.icon .bars {
                        color: transparent;
                    }

                    &:checked ~ .menu.icon .times {
                        color: var.$color-two;
                    }
                }

                .menu.icon {
                    position: relative;
                    align-items: center;

                    .bars,
                    .times {
                        position: absolute;
                        transition: all 0.2s ease-in-out;
                    }

                    .times {
                        color: transparent;
                    }
                }

                

                .side-navbar {
                    width: 100vw;
                    height: fit-content;
                    padding: 1rem;

                    background-color: var.$color-one;
                    font-size: 1.6rem !important;
                    list-style: none;
                    border-top: 2px solid var.$color-two;

                    
                    position: absolute;
                    top: 78px;
                    left: -100vw;
                    transition: all .8s;

                    .nav-item {
                        display: flex;
                        justify-content: center;

                        &:hover {
                            background-color: darken(var.$color-one, 15%);
                        }
                    }

                    .nav-link {
                        color: var.$color-two;
                        padding: 1rem;
                    }

                }

            }
        }

    

        .hero {
            width: 100vw;
            height: calc(100vh - 80px);

            img {
                max-width: 100%;
                height: auto;
            }
        }


        .large-devices {
            display: none !important;
        }
    }
}



/* ------- Main Styles ------- */



    /***** About Styles ******/



    /***** Event Styles ******/



    /***** Contact Styles ******/



/* ------ Footer Styles ------ */



/* ------ Media Queries ------ */

// Tablets devices
@media (min-width:768px) {
    
}


// Desktop
@media (min-width: 1024px) {
    
    
    #navbar {

        ul {
            display: flex;
            align-items: center;
        }

        .nav-item {
            margin-left: 5rem;
            font-size: 2.5rem;

            a {
                transition: all .5s;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}