@use "./variables";


// mixins

@mixin flex-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}